  

#rslides {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* -webkit-transition: background 0.7s linear;
  transition: background 0.7s linear;  */
  transition-property: background;
  transition-duration: 0.7s;
  transition-timing-function: linear;
}

.previous{
  left: 0;
  background: transparent url(http://responsiveslides.com/themes/themes.gif) no-repeat left top;
}

.arrow-slide {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  margin-top: -45px;
}

.arrow-slide:hover{
  cursor: pointer;
}

.next{
  right: 0;
  background: transparent url(http://responsiveslides.com/themes/themes.gif) no-repeat right top;
}

.title {
  font-family: 'Poppins';
  font-size: 5vh;
  color: #FFFFFF;
  transition: 0.5s; 
  margin: 100px;
}

.text-center {
  text-align: center; }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

.black-margin {
  text-shadow: -1px -1px 0 #414F50, 1px -1px 0 #414F50, -1px 1px 0 #414F50, 1px 1px 0 #414F50; }

.hidden{
  display: none;
}